DirectoryIndex index.html
Options -Indexes

<IfModule mod_headers.c>
  <FilesMatch "^(sw\.js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>
  <FilesMatch "^(manifest\.json)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /truthlib/
  RewriteRule ^api/?$ api.php?__path= [QSA,L]
  RewriteRule ^api/(.*)$ api.php?__path=$1 [QSA,L]
</IfModule>
